routes:
  /:
    as: addons.menu_editor
    uses: index
  /edit/{feed}:
    as: addons.menu_editor.edit
    uses: edit
  /create:
    as: addons.menu_editor.create
    uses: edit
  post@store:
    as: addons.menu_editor.store
    uses: store
  /refresh_all:
    as: addons.menu_editor.refresh_all
    uses: refresh_all
