routes:
  /:
    as: addons.anchorman
    uses: EditController@index
  /edit/{feed}:
    as: addons.anchorman.edit
    uses: EditController@edit
  /create:
    as: addons.anchorman.create
    uses: EditController@create
  post@store:
    as: addons.anchorman.store
    uses: EditController@store
  post@update:
    as: addons.anchorman.update
    uses: EditController@update
  /refreshAll:
    as: addons.anchorman.refreshAll
    uses: EditController@refreshAll
  /get_item_structure:
    as: addons.anchorman.getItemStructure
    uses: EditController@getItemStructure
